[user]
    name = Bill Eggert

[include]
    path = ~/.gitconfig.local

[alias]
    unpushed = "!GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline 2>/dev/null"
    pf = "!GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git add . && git commit --amend --no-edit && git push origin $GIT_CURRENT_BRANCH -f"
    po = "!GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git push origin $GIT_CURRENT_BRANCH"
    pl = "!GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git pull origin $GIT_CURRENT_BRANCH"
    cm = "!git checkout $(git-default-branch)"
    rb = "!git pull origin $(git-default-branch) --rebase"
    reset-date = commit --amend --date=now --no-edit
    su = submodule update --init --recursive
    c- = checkout -
    recent = "!git --no-pager log --oneline -n 10"
    created = log --diff-filter=A --follow --format=%aD -1 --

[push]
    followTags = true

[core]
    editor = nvim

[init]
    defaultBranch = main

[pager]
	branch = false
